:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;

  /* Header background, team card background */
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  background-color: var(--color-white);
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1158px;
  outline: 1px solid tomato;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Reset  */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/**
  |============================
  | Header
  |============================
*/
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo-link {
  display: block;
  padding: 24px 0;
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.logo-dark {
  color: var(--color-navy-blue);
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-item {
  font-weight: 500;
}
.nav-link {
  display: block;
  padding: 24px 0;
  color: var(--color-navy-blue);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-ocean);
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-item {
  font-style: normal;
}
.address-link {
  display: block;
  padding: 24px 0;
  color: var(--color-slate);
}
.address-link:hover,
.address-link:focus {
  color: var(--color-ocean);
}

/**
  |============================
  | Section Order
  |============================
*/
.order {
  background-color: var(--color-navy-blue);
}
.primary-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--color-white);
}
.order-btn {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);
  cursor: pointer;
}
.order-btn:hover,
.order-btn:focus {
  background-color: var(--color-ocean);
}

/**
  |============================
  | Section Features
  |============================
*/
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}
.features-list {
}
.feature-item {
}
.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-navy-blue);
}
.item-text {
}

/**
  |============================
  | Section Works
  |============================
*/
.work-list {
}
.work-item {
}

/**
  |============================
  | Section Team
  |============================
*/
.team {
  background-color: var(--color-cloud);
}
.team-list {
}
.team-item {
  background-color: var(--color-white);
}

/**
  |============================
  | Section Portfolio
  |============================
*/
.btn-list {
}
.btn-item {
}
.nav-btn {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  cursor: pointer;
}
.nav-btn:hover,
.nav-btn:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}
.portfolio-list {
}
.portfolio-item {
}

/**
  |============================
  | Footer
  |============================
*/
.footer {
  background-color: var(--color-navy-blue);
}
.logo-light {
  color: var(--color-cloud);
}
.footer-text {
  color: var(--color-cloud);
}
